<div class="container">
  <h1><%= @question.title %></h1>

  <p><%= @question.body %></p>

  <% if !@answers.empty? %>
    <ul>
      <% @answers.each do |answer| %>
        <li><%= answer.text %> -- <%= answer.answer_author %> <a href="/questions/<%= @question.id %>/answers/<%= answer.id %>/edit">edit</a></li>
        <form class="delete_answer" method="post" action="/questions/<%= @question.id %>/answers/<%= answer.id %>">
          <input type="hidden" value="delete" name="_method">
          <a class="waves-effect waves-light btn"><input type="submit" value="delete"></a>
        </form>
      <% end %>
    </ul>

    <a href="/questions/<%= @question.id %>/answers/new">Answer this question</a>
  <% else %>
    <h6>No one has answered this question... Maybe you should <a href="/questions/<%= @question.id %>/answers/new">answer this question!</a></h6>
  <% end %>
</div>
