<div class="question-title">
  <h1><%= @question.title %></h1>

  <p class="question-body"><%= @question.body %></p>
<div class="side-button">
  <div class="container edit-btn">
    <form class="edit_question-btn" method="get" action="/questions/<%= @question.id %>/edit">
      <button type="submit" class="btn-floating btn-small yellow darken-1"><i class="material-icons">mode_edit</i></button>
    </form>
  </div>
  <div class="delete-btn">
    <form class="delete_question" method="post" action="/questions/<%= @question.id %>">
      <input type="hidden" value="delete" name="_method">
      <button type="submit" class="btn-floating btn-small light-green darken-1"><i class="material-icons">delete</i></button>
    </form>
  </div>
</div>

<div class="answer_list">
  <% if !@answers.empty? %>
    <ul class="answer-list-ul">
      <% @answers.each do |answer| %>
        <%= erb :'/answers/_show', layout: false, locals: { answer: answer , question: @question } %>
      <% end %>
    </ul>

  <div class="answer-button-unique">
    <a id="add_answer_existing" href="/questions/<%= @question.id %>/answers/new">Answer this question</a>
  </div>
  <% else %>
    <h6>No one has answered this question... Maybe you should <a href="/questions/<%= @question.id %>/answers/new">answer this question!</a></h6>
  <% end %>
</div>
</div>
