<div class="question-title">
  <h1><%= @question.title %></h1>
  <p>Asked by <%= @question.creator.username %> on <%=@question.created_at.strftime("%B %d, %Y at %I:%M %p %Z")%><p>

  <p class="question-body"><%= @question.body %></p>
  <a href="/questions/<%= @question.id %>/comments/new">Comment on this question</a>
  <p>Comments on this question:</p>
  <%  @question.comments.each do |comment| %>
    <ul>
      <li><%=comment.content%>  -<a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.username %></a> <em>(<%=comment.created_at.strftime("%B %d, %Y at %I:%M %p %Z")%>)</em> </li>
      <% if current_user == comment.commenter %>
        <a href="/questions/<%= @question.id %>/comments/<%= comment.id %>/edit">edit</a>
        <form class="delete_answer" method="post" action="/questions/<%= @question.id %>/comments/<%= comment.id %>">
          <input type="hidden" value="delete" name="_method">
          <a class="waves-effect waves-light btn"><input type="submit" value="delete"></a>
        </form>
      <% end %>
    </ul>
  <% end %>
<div class="side-button">
  <div class="container edit-btn">
    <form class="edit_question-btn" method="get" action="/questions/<%= @question.id %>/edit">
      <button type="submit" class="btn-floating btn-small yellow darken-1"><i class="material-icons">mode_edit</i></button>
    </form>
  </div>
  <div class="delete-btn">
    <form class="delete_question" method="post" action="/questions/<%= @question.id %>">
      <input type="hidden" value="delete" name="_method">
      <button type="submit" class="btn-floating btn-small light-green darken-1"><i class="material-icons">delete</i></button>
    </form>
  </div>
</div>
<div class="answer_list">
  <% if !@answers.empty? %>
    <ul class="answer-list-ul">
      <% @answers.each do |answer| %>
        <%= erb :'/answers/_show', layout: false, locals: { answer: answer , question: @question } %>

        <a href="/answers/<%= answer.id %>/comments/new">Comment on this answer</a>
        <ul>
          <% if answer.comments.any? %>
          <strong>Comments on this answer:</strong>
          <% answer.comments.each do |comment| %>
            <li><%=comment.content%>  -<a href="/users/<%= comment.commenter.id %>"><%= comment.commenter.username %></a> <em>(<%=comment.created_at.strftime("%B %d, %Y at %I:%M %p %Z")%>)</em> </li>
            <% if current_user == comment.commenter %>
              <a href="/answers/<%= answer.id %>/comments/<%= comment.id %>/edit">edit</a>
            <form class="delete_answer" method="post" action="/answers/<%= answer.id %>/comments/<%= comment.id %>">
              <input type="hidden" value="delete" name="_method">
              <a class="waves-effect waves-light btn"><input type="submit" value="delete comment"></a>
            </form>
            <% end %>
        </ul>
          <% end %>
        <% end %>
      <% end %>

    </ul>

  <div class="answer-button-unique">
    <a id="add_answer_existing" href="/questions/<%= @question.id %>/answers/new">Answer this question</a>
  </div>
  <% else %>
    <h6>No one has answered this question... Maybe you should <a href="/questions/<%= @question.id %>/answers/new">answer this question!</a></h6>
  <% end %>
</div>
</div>
